@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
footer {
  text-align: center;
  color: #aaa;
}

/* Override site */
#main {
  width: 100%;
  padding: 0;
}
.content-asset p {
  margin: 0 auto;
}
.breadcrumb {
  display: none;
}

/*Highlight*/
/*
::selection {  
  background: var(--harvest-gold);
  color: white;
}
*/
/*Color*/
/**************************/
:root {
  --cardinal: #d20939ff;
  --harvest-gold: #f3a80eff;
  --sinopia: #db2d09ff;
  --persian-orange: #ee9453ff;
  --fire-engine-red: #c50126ff;
  --tomato: #fe603dff;
  --raspberry: #e31f5fff;
  --oxford-blue: #0b2246ff;
  --orange-peel: #ff9e1eff;
  --peach: #feedc0ff;

  /*color:var(--cardinal)*/
}

/* Typography */
/**************************/
#container h1 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}
#container h2 {
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.9;
}
#container h3 {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}
#container p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* Section - Title */
/**************************/
#container .title {
  background: white;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}
#container .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#container .block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white; /* padding: 60px; */
  width: 1380px;
  height: 100vh;
  margin: 0 auto;
  text-align: justify;
}
#container .block-gray {
  background: #f2f2f2;
  padding: 60px;
}
#container .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

/* Section - section */
/**************************/
#container .section-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("img/1.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#container .section-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("img/2_ori.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#container .section-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("img/3.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#container .section-four {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("img/4.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#container .section-five {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("img/5.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#container .section-six {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("img/6.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #container .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #container .block {
    padding: 30px;
    width: 420px;
  }
  #container h2 {
    font-size: 30px;
  }
  #container .block {
    padding: 30px;
  }
  #container .section-one,
  #container .section-two,
  #container .section-three,
  #container .section-four,
  #container .section-five,
  #container .section-six {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  #container .block {
    padding: 30px 15px;
    width: 290px;
  }
}
